body, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1, h2, h3{
    font-family: "Didot", "Bodoni", serif;
    font-style: italic;
    color: #c1a15f;
}
h2 {
    font-size: 26px;
}
h3{
    font-size: 22px;
}
p{
    font-size: 18px;
    line-height: 1.5;
    margin: 10px;
}
section {
    margin-bottom: 0;
    padding: 20px;
    border: 1px solid #c1a15f;
    background-color: #fff;
    flex: 1;
    margin: 10px 0;
}
section + section{
    margin-top: 0; /* Reset top margin */
}
.header, .footer{
    width: 100%;
    text-align: center;
    background-color: #f9f3e6;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}
.header{
    top: 0;
}
.footer{
    bottom: 0;
}
.logo{
    height: auto;
    max-width: 400px;
    width: 100%;
}

.container{
    width: 100%;
    max-width: 800px;
    text-align: center;
    flex:1;
}
.coffee-text {
    color: #8b4513;
}
.address {
    font-style: normal;
    font-size: 14px;
    color: #c1a15f;
}
.footer h2{
    font-size: 20px;
    margin-bottom: 5px;
}